body{
    font-family: Arial;
    background: #f0f2f5;
}

.container{
    width: 40%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button{
    background: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
}

.task{
    background: #e3e3e3;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
